<div class="wrapper">
    <section class="section section-lg">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col">
          <hr class="line-info" />
          <h1 align="center">Find Project</h1>
            <div class="col">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="Right Nucleo Icon"
                  type="text"
                />

                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="tim-icons icon-zoom-split"> </i>
                  </span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3" *ngFor="let project of projects.data;let i=index">
          <br>
          <br>
          <br>
          <br>
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/binomo.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">{{project.name}}</h4>
                  <span> {{project.description}} </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="card-body">
                  <div class="row">
                    <div *ngFor="let category of project.ProjectCategories" class="col-md-12 text-center">
                        <button
                        class="btn btn-default btn-sm"
                        > {{category.category}}
                        </button>
                    </div>
                  </div>
              </div>
              <div class="row">
                <br>
                <div class="col-md-10 offset-md-1" >
                    <div class="progress-container progress-danger">
                        <span class="text"> 3/4 People Joined  </span>
                        <progressbar class="progress-bar-danger" [value]="75">
                          <span class="progress-value"> 75% </span>
                        </progressbar>
                      </div>

                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <button [routerLink]="['/project', i+1]" class="btn btn-primary btn-simple">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--   <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path2.png" />

    <div class="col-md-12">
      <div class="card card-chart card-plain">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <hr class="line-primary" />

              <h5 class="card-category">Total Investments</h5>
              <h2 class="card-title">Performance</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartBig"> </canvas></div>
        </div>
      </div>
    </div>
  </section> -->


</div>
