<div class="wrapper">
    <section class="section section-lg">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col">
          <hr class="line-info" />
          <h1 align="center">Find Project</h1>
            <div class="col">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="Right Nucleo Icon"
                  type="text"
                />

                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="tim-icons icon-zoom-split"> </i>
                  </span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3" *ngFor="let project of projects.data;let i=index">
          <br>
          <br>
          <br>
          <br>
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/binomo.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">{{project.name}}</h4>
                  <span> {{project.description}} </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center">
                        <button
                        class="btn btn-default btn-sm"
                        > finance
                        </button>
                        <button
                        class="btn btn-default btn-sm"
                        > back-end
                        </button>
                        <button
                        class="btn btn-default btn-sm"
                        > remote
                        </button>
                        <button
                        class="btn btn-default btn-sm"
                        > ez
                        </button>
                        
                    </div>
                  </div>
              </div>  
              <div class="row">
                <br>
                <div class="col-md-10 offset-md-1" >
                    <div class="progress-container progress-danger">
                        <span class="text"> 3/4 People Joined  </span>
                        <progressbar class="progress-bar-danger" [value]="75">
                          <span class="progress-value"> 75% </span>
                        </progressbar>
                      </div>
    
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <button [routerLink]="['/project', i+1]" class="btn btn-primary btn-simple">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--   <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path2.png" />

    <div class="col-md-12">
      <div class="card card-chart card-plain">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <hr class="line-primary" />

              <h5 class="card-category">Total Investments</h5>
              <h2 class="card-title">Performance</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartBig"> </canvas></div>
        </div>
      </div>
    </div>
  </section> -->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">BLK•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
