<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />


    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">
            Edit Project
          </h1>
          <div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div>
            <div class="text-center text-muted mb-4 mt-3">
            </div>
            <form class="form" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
              <span>Main Information</span>
              <div
                      class="input-group"
                      [ngClass]="{ 'input-group-focus': focus === true }"
                      style="margin-top: 10px"
              >
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="tim-icons icon-single-02"> </i>
                  </div>
                </div>
                <input
                        class="form-control"
                        [value]="project.name"
                        type="text"
                        (focus)="focus = true"
                        (blur)="focus = false"
                        formControlName="name"
                />
              </div>
              <div
                      class="input-group"
                      [ngClass]="{ 'input-group-focus': focus1 === true }"
              >
                <p>{{project.description}}</p>
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="tim-icons icon-badge"> </i>
                  </div>
                </div>

                <input
                        class="form-control"
                        [value]="project.description"
                        type="text"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                        formControlName="description"
                />
              </div>

<!-- OWWWWWWWWWWWWWWOOOOOOOOOOOOOO -->
              <span>Social Information</span>
              <div
                      class="input-group"
                      [ngClass]="{ 'input-group-focus': focus2 === true }"
                      style="margin-top: 10px"
              >
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="tim-icons icon-components"> </i>
                  </div>
                </div>
                <input
                        class="form-control"
                        placeholder="Github Link"
                        type="text"
                        (focus)="focus2 = true"
                        (blur)="focus2 = false"
                        formControlName="github"
                />
              </div>
              <div
                      class="input-group"
                      [ngClass]="{ 'input-group-focus': focus3 === true }"
              >
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="tim-icons icon-chat-33"> </i>
                  </div>
                </div>
                <input
                        class="form-control"
                        placeholder="Slack Link"
                        type="text"
                        (focus)="focus3 = true"
                        (blur)="focus3 = false"
                        formControlName="slack"
                />
              </div>
              <div
                      class="input-group"
                      [ngClass]="{ 'input-group-focus': focus4 === true }"
              >
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="tim-icons icon-calendar-60"> </i>
                  </div>
                </div>
                <input
                        class="form-control"
                        placeholder="Trello Link"
                        type="text"
                        (focus)="focus4 = true"
                        (blur)="focus4 = false"
                        formControlName="trello"
                />
              </div>

              <div class="form-group">
                <br>
                <button [disabled]="loading" class="btn btn-primary btn-round btn-lg">
                  Save Changes
                </button>
                <img *ngIf="loading" class="pl-2"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
              </div>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">Roles</h1>
              <h5 class="text-on-back">02</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row"
           style="display: flex; flex-direction: row; justify-content: center"
           >
        <div class="col-md-3" *ngFor="let role of project.ProjectMembers">
          <br>
          <br>
          <br>
          <br>
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/bocah.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center" *ngIf="role.role===0">
                  <h4 class="text-uppercase">Marketing</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===1">
                  <h4 class="text-uppercase">Web Developer</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===2">
                  <h4 class="text-uppercase">Web Designer</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===3">
                  <h4 class="text-uppercase">2D Artist</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===4">
                  <h4 class="text-uppercase">3D Artist</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===5">
                  <h4 class="text-uppercase">Unity Programmer</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===6">
                  <h4 class="text-uppercase">Game Designer</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===7">
                  <h4 class="text-uppercase">C# Programmer</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===8">
                  <h4 class="text-uppercase">iOS Developer</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===9">
                  <h4 class="text-uppercase">Android Developer</h4>
                  <hr class="line-primary" />
                </div>
                <div class="col-md-12 text-center" *ngIf="role.role===10">
                  <h4 class="text-uppercase">Social Media Manager</h4>
                  <hr class="line-primary" />
                </div>

              </div>
              <div class="row">
                <br>
                <div class="col-md-10 offset-md-1" >
                  <div class="progress-container progress-danger" *ngIf="role.userId===null">
                    <span class="text"> Available  </span>
                    <progressbar class="progress-bar-danger" [value]="0">
                      <span class="progress-value"> 0 </span>
                    </progressbar>
                  </div>
                  <div class="progress-container progress-danger" *ngIf="role.userId">
                    <span class="text"> {{role.User.name}}  </span>
                    <progressbar class="progress-bar-danger" [value]="100">
                      <span class="progress-value"> 1 </span>
                    </progressbar>
                  </div>

                </div>
              </div>
            </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary btn-simple" (click)="kickMember(role.userId)">Kick
                </button>
                <button class="btn btn-danger btn-simple" (click)="delRole(role.id)" style="margin-left: 10px">Delete
                </button>
              </div>
          </div>
        </div>
        <!-- Contoh doang -->
        <div class="col-md-3">
          <br>
          <br>
          <br>
          <br>
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/muka.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">New Role</h4>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="row">
                <br>
                <div class="col-md-10 offset-md-1" >
                  <div class="progress-container progress-danger">
                    <select
                            class="form-control"
                            (focus)="focus = true"
                            (blur)="focus = false"
                            formControlName="role"
                            (change)="selectChangeHandler($event)"
                      >
                      <option style="color:black;" *ngFor="let role of rolesAvail" [value]="role.id">{{role.role}}</option>
                    </select>
                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-success btn-simple" (click)="newRole()" style="margin-left: 10px">
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>
<!--            <div class="card-footer text-center">-->
<!--              <button onclick="location.href='http://www.blogcdn.com/slideshows/images/slides/261/840/2/S2618402/slug/l/mens-male-plastic-surgery-fails-07-igor-grichka-getty-483056855-1.jpg'" class="btn btn-primary btn-simple">Join</button>-->
<!--            </div>-->
          </div>
        </div>

      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">BLK•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
